<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BYD_CAMERA" />
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_COMMON" />

    <application
        android:allowBackup="false"
        android:label="BYD Atto3 By CS"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
